CanonicalsAndSchemas/SAPLibraries/SAPPurchaseOrder_ZCNC_PURCHASE_ORDERS/ZCNC_PURCHASE_ORDERS_InlineSchema2.xsd

<?xml version="1.0" encoding="UTF-8"?><xsd:schema attributeFormDefault="qualified" targetNamespace="urn:sap-com:document:sap:soap:functions:mc-style" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:ibmSchExtn="http://www.ibm.com/schema/extensions" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:n0="urn:sap-com:document:sap:rfc:functions" xmlns:n1="urn:sap-com:document:sap:rfc:functions" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="urn:sap-com:document:sap:soap:functions:mc-style" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsoap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:import namespace="urn:sap-com:document:sap:rfc:functions" schemaLocation="ZCNC_PURCHASE_ORDERS_InlineSchema1.xsd"/>
  <xsd:simpleType name="char1">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="1"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="char10">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="10"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="char2">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="2"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="char35">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="35"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="date10">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="10"/>
      <xsd:pattern value="\d\d\d\d-\d\d-\d\d"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="decimal5.0">
    <xsd:restriction base="xsd:decimal">
      <xsd:totalDigits value="5"/>
      <xsd:fractionDigits value="0"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="quantum13.3">
    <xsd:restriction base="xsd:decimal">
      <xsd:totalDigits value="13"/>
      <xsd:fractionDigits value="3"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="quantum14.3">
    <xsd:restriction base="xsd:decimal">
      <xsd:totalDigits value="14"/>
      <xsd:fractionDigits value="3"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="unit3">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="3"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:complexType name="BsartRan">
    <xsd:sequence>
      <xsd:element name="Sign" type="n0:char1"/>
      <xsd:element name="Option" type="n0:char2"/>
      <xsd:element name="Low" type="n0:char4"/>
      <xsd:element name="High" type="n0:char4"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="RangeEan11">
    <xsd:sequence>
      <xsd:element name="Sign" type="n0:char1"/>
      <xsd:element name="Option" type="n0:char2"/>
      <xsd:element name="Low" type="n0:char18"/>
      <xsd:element name="High" type="n0:char18"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="RangeEbeln">
    <xsd:sequence>
      <xsd:element name="Sign" type="n0:char1"/>
      <xsd:element name="Option" type="n0:char2"/>
      <xsd:element name="Low" type="n0:char10"/>
      <xsd:element name="High" type="n0:char10"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="RangeMatnr">
    <xsd:sequence>
      <xsd:element name="Sign" type="tns:char1"/>
      <xsd:element name="Option" type="tns:char2"/>
      <xsd:element name="Low" type="n0:char18"/>
      <xsd:element name="High" type="n0:char18"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ZcncSRangeAedat">
    <xsd:sequence>
      <xsd:element name="Sign" type="tns:char1"/>
      <xsd:element name="Option" type="tns:char2"/>
      <xsd:element name="Low" type="tns:date10"/>
      <xsd:element name="High" type="tns:date10"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ZcncVPoDetail">
    <xsd:sequence>
      <xsd:element name="Mandt" type="n0:clnt3"/>
      <xsd:element name="Gtin" type="n0:char18"/>
      <xsd:element name="Article" type="n0:char18"/>
      <xsd:element name="Site" type="n0:char4"/>
      <xsd:element name="Language" type="n0:lang"/>
      <xsd:element name="Description" type="n0:char40"/>
      <xsd:element name="DocNum" type="n0:char10"/>
      <xsd:element name="DocItem" type="n0:numeric5"/>
      <xsd:element name="DocType" type="n0:char4"/>
      <xsd:element name="DocDate" type="tns:date10"/>
      <xsd:element name="Vendor" type="tns:char10"/>
      <xsd:element name="PoCrDate" type="tns:date10"/>
      <xsd:element name="VendorName" type="tns:char35"/>
      <xsd:element name="CoCode" type="n0:char4"/>
      <xsd:element name="PurchOrg" type="n0:char4"/>
      <xsd:element name="PurchGrp" type="n0:char3"/>
      <xsd:element name="DeliveryDate" type="n0:date10"/>
      <xsd:element name="Quantity" type="tns:quantum13.3"/>
      <xsd:element name="OpenQty" type="tns:quantum14.3"/>
      <xsd:element name="OrderUnit" type="tns:unit3"/>
      <xsd:element name="BaseQty" type="tns:decimal5.0"/>
      <xsd:element name="BaseUnit" type="tns:unit3"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Bapireturn">
    <xsd:sequence>
      <xsd:element name="Type" type="n0:char1"/>
      <xsd:element name="Code" type="n0:char5"/>
      <xsd:element name="Message" type="n0:char220"/>
      <xsd:element name="LogNo" type="n0:char20"/>
      <xsd:element name="LogMsgNo" type="n0:numeric6"/>
      <xsd:element name="MessageV1" type="n0:char50"/>
      <xsd:element name="MessageV2" type="n0:char50"/>
      <xsd:element name="MessageV3" type="n0:char50"/>
      <xsd:element name="MessageV4" type="n0:char50"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ZcncVPoSchedule">
    <xsd:sequence>
      <xsd:element name="Mandt" type="n0:clnt3"/>
      <xsd:element name="Gtin" type="n0:char18"/>
      <xsd:element name="Article" type="n0:char18"/>
      <xsd:element name="Site" type="n0:char4"/>
      <xsd:element name="Language" type="n0:lang"/>
      <xsd:element name="Description" type="n0:char40"/>
      <xsd:element name="DocNum" type="n0:char10"/>
      <xsd:element name="DeliveryDate" type="n0:date10"/>
      <xsd:element name="OpenQty" type="n0:quantum19.3"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="TableOfBsartRan">
    <xsd:sequence>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="item" type="tns:BsartRan"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="TableOfRangeEan11">
    <xsd:sequence>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="item" type="tns:RangeEan11"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="TableOfRangeEbeln">
    <xsd:sequence>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="item" type="tns:RangeEbeln"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="TableOfRangeMatnr">
    <xsd:sequence>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="item" type="tns:RangeMatnr"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="TableOfZcncSRangeAedat">
    <xsd:sequence>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="item" type="tns:ZcncSRangeAedat"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ZcncTtPoDetails">
    <xsd:sequence>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="item" type="tns:ZcncVPoDetail"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="WrfBapireturnTty">
    <xsd:sequence>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="item" type="tns:Bapireturn"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ZcncTtPoSch">
    <xsd:sequence>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="item" type="tns:ZcncVPoSchedule"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element ibmSchExtn:docRoot="true" name="ZCncPurchaseOrderOptimise">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element minOccurs="0" name="IrAedat" type="tns:TableOfZcncSRangeAedat"/>
        <xsd:element name="IrArticle" type="tns:TableOfRangeMatnr"/>
        <xsd:element name="IrBsart" type="tns:TableOfBsartRan"/>
        <xsd:element name="IrEan11" type="tns:TableOfRangeEan11"/>
        <xsd:element name="IrEbeln" type="tns:TableOfRangeEbeln"/>
        <xsd:element minOccurs="0" name="IvDatefunc" type="n0:char2"/>
        <xsd:element minOccurs="0" name="IvDetailday" type="n0:char10"/>
        <xsd:element minOccurs="0" name="IvDetailsid" type="n0:char1"/>
        <xsd:element minOccurs="0" name="IvDocdate" type="n0:char10"/>
        <xsd:element minOccurs="0" name="IvSchday" type="n0:char10"/>
        <xsd:element minOccurs="0" name="IvSchid" type="n0:char1"/>
        <xsd:element minOccurs="0" name="IvSite" type="n0:char4"/>
        <xsd:element name="IvSpras" type="n0:lang"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element ibmSchExtn:docRoot="true" name="ZCncPurchaseOrderOptimiseResponse">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="EtDetails" type="tns:ZcncTtPoDetails"/>
        <xsd:element name="EtError" type="tns:WrfBapireturnTty"/>
        <xsd:element name="EtSchedule" type="tns:ZcncTtPoSch"/>
        <xsd:element minOccurs="0" name="IrAedat" type="tns:TableOfZcncSRangeAedat"/>
        <xsd:element name="IrArticle" type="tns:TableOfRangeMatnr"/>
        <xsd:element name="IrBsart" type="tns:TableOfBsartRan"/>
        <xsd:element name="IrEan11" type="tns:TableOfRangeEan11"/>
        <xsd:element name="IrEbeln" type="tns:TableOfRangeEbeln"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  
  <!-- Debraj : Adding elements from ZECC_PO_CHANGE -->  

  <xsd:simpleType name="numeric5">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="5"/>
      <xsd:pattern value="\d*"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:complexType name="ZcncSPoitem">
    <xsd:sequence>
      <xsd:element name="Material" type="n0:char18"/>
      <xsd:element name="Plant" type="n0:char4"/>
      <xsd:element name="Quantity" type="n0:quantum13.3"/>
      <xsd:element name="PoUnitIso" type="n0:char3"/>
      <xsd:element name="RetItem" type="n0:char1"/>
      <xsd:element name="StgeLoc" type="n0:char4"/>
      <xsd:element name="PoItem" type="tns:numeric5"/>
      <xsd:element name="PoUnit" type="tns:unit3"/>
      <xsd:element name="NoMoreGr" type="tns:char1"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Bapiret2">
    <xsd:sequence>
      <xsd:element name="Type" type="n0:char1"/>
      <xsd:element name="Id" type="n0:char20"/>
      <xsd:element name="Number" type="n0:numeric3"/>
      <xsd:element name="Message" type="n0:char220"/>
      <xsd:element name="LogNo" type="n0:char20"/>
      <xsd:element name="LogMsgNo" type="n0:numeric6"/>
      <xsd:element name="MessageV1" type="n0:char50"/>
      <xsd:element name="MessageV2" type="n0:char50"/>
      <xsd:element name="MessageV3" type="n0:char50"/>
      <xsd:element name="MessageV4" type="n0:char50"/>
      <xsd:element name="Parameter" type="n0:char32"/>
      <xsd:element name="Row" type="xsd:int"/>
      <xsd:element name="Field" type="n0:char30"/>
      <xsd:element name="System" type="n0:char10"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ZcncTtPoitem">
    <xsd:sequence>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="item" type="tns:ZcncSPoitem"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Bapiret2T">
    <xsd:sequence>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="item" type="tns:Bapiret2"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element ibmSchExtn:docRoot="true" name="ZCncPoChange">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="ItPoitems" type="tns:ZcncTtPoitem"/>
        <xsd:element minOccurs="0" name="IvCocode" type="n0:char4"/>
        <xsd:element minOccurs="0" name="IvDoctype" type="n0:char4"/>
        <xsd:element name="IvPoNumber" type="n0:char10"/>
        <xsd:element minOccurs="0" name="IvPurchGroup" type="n0:char3"/>
        <xsd:element minOccurs="0" name="IvPurchOrg" type="n0:char4"/>
        <xsd:element minOccurs="0" name="IvTxtLine" type="n0:char132"/>
        <xsd:element name="IvVendor" type="n0:char10"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element ibmSchExtn:docRoot="true" name="ZCncPoChangeResponse">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="EtIsoReturn" type="tns:WrfBapireturnTty"/>
        <xsd:element name="EtReturn" type="tns:Bapiret2T"/>
      </xsd:sequence>
    </xsd:complexType>
    </xsd:element>
<!-- Debraj : Adding elements for ZECC_PO_CREATE -->  
 <xsd:simpleType name="char3">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="3"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="char5">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="5"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:element ibmSchExtn:docRoot="true" name="ZCncPoCreate">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="ItPoitems" type="tns:ZcncTtPoitem"/>
        <xsd:element minOccurs="0" name="IvCocode" type="n0:char4"/>
        <xsd:element minOccurs="0" name="IvDoctype" type="n0:char4"/>
        <xsd:element minOccurs="0" name="IvPurchGroup" type="n0:char3"/>
        <xsd:element minOccurs="0" name="IvPurchOrg" type="n0:char4"/>
        <xsd:element name="IvVendor" type="n0:char10"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element ibmSchExtn:docRoot="true" name="ZCncPoCreateResponse">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="EtIsoReturn" type="tns:WrfBapireturnTty"/>
        <xsd:element name="EtReturn" type="tns:Bapiret2T"/>
        <xsd:element name="EvPoNumber" type="n0:char10"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  
</xsd:schema>