CanonicalsAndSchemas/SAPLibraries/SAPGoodsMovement_ECC_GOODSMOVEMENTIDQR/erz301goodsmvntidqr_InlineSchema1.xsd

<?xml version="1.0" encoding="UTF-8"?><xsd:schema targetNamespace="http://sap.com/xi/APPL/Global2" xmlns="http://sap.com/xi/APPL/Global2" xmlns:ccts="urn:un:unece:uncefact:documentation:standard:CoreComponentsTechnicalSpecification:3.0" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:n1="http://sap.com/xi/SAPGlobal20/Global" xmlns:n2="http://sap.com/xi/SAPGlobal/Global" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:sprx="urn:sap.com:abap:proxy" xmlns:tns="http://sap.com/xi/APPL/Global2" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsoap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xi0="http://sap.com/xi/SAPGlobal20/Global" xmlns:xi1="http://sap.com/xi/SAPGlobal/Global" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!-- Debraj Sengupta: commented out the whole file because the same fields are present under the same schema in GoodsMovement_InlineSchema1.xsd. -->  
<!--   
  <xsd:annotation>
    <xsd:documentation>
      <sprx:documentation baseURL="http://vhkfrerzci.rot.hec.ghanp.kfplc.com:8000/sap/bc/esdt/docu/xsd_type?sap-client=301" version="1"/>
    </xsd:documentation>
  </xsd:annotation>
  <xsd:simpleType name="ATTRIBUTEINDEPENDENT_UUID">
    <xsd:annotation>
      <xsd:documentation xml:lang="EN">
        <ccts:RepresentationTerm>Identifier</ccts:RepresentationTerm>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:token">
      <xsd:length value="36"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="AccountDeterminationExpenseGroupCode">
    <xsd:annotation>
      <xsd:documentation xml:lang="EN">
        <ccts:RepresentationTerm>Code</ccts:RepresentationTerm>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:token">
      <xsd:maxLength value="10"/>
      <xsd:minLength value="1"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="BusinessTransactionDocumentItemID">
    <xsd:annotation>
      <xsd:documentation xml:lang="EN">
        <ccts:RepresentationTerm>Identifier</ccts:RepresentationTerm>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:token">
      <xsd:maxLength value="10"/>
      <xsd:minLength value="1"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="BusinessTransactionDocumentItemScheduleLineID">
    <xsd:restriction base="xsd:token">
      <xsd:maxLength value="4"/>
      <xsd:minLength value="1"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="BusinessTransactionDocumentItemTypeCode">
    <xsd:annotation>
      <xsd:documentation xml:lang="EN">
        <ccts:RepresentationTerm>Code</ccts:RepresentationTerm>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:token">
      <xsd:maxLength value="5"/>
      <xsd:minLength value="1"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="BusinessTransactionDocumentTypeCode">
    <xsd:annotation>
      <xsd:documentation xml:lang="EN">
        <ccts:RepresentationTerm>Code</ccts:RepresentationTerm>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:token">
      <xsd:maxLength value="5"/>
      <xsd:minLength value="1"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="Date">
    <xsd:annotation>
      <xsd:documentation xml:lang="EN">
        <ccts:RepresentationTerm>Date</ccts:RepresentationTerm>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:date">
      <xsd:pattern value="[0-9]{4}-[0-9]{2}-[0-9]{2}"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="DebitCreditCode">
    <xsd:annotation>
      <xsd:documentation xml:lang="EN">
        <ccts:RepresentationTerm>Code</ccts:RepresentationTerm>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:token">
      <xsd:length value="1"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:complexType name="ExchangeFaultData">
    <xsd:sequence>
      <xsd:element name="faultText" type="xsd:string"/>
      <xsd:element minOccurs="0" name="faultUrl" type="xsd:string"/>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="faultDetail" type="ExchangeLogData"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ExchangeLogData">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="severity" type="xsd:string"/>
      <xsd:element name="text" type="xsd:string"/>
      <xsd:element minOccurs="0" name="url" type="xsd:string"/>
      <xsd:element minOccurs="0" name="id" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="FixedAssetID">
    <xsd:annotation>
      <xsd:documentation xml:lang="EN">
        <ccts:RepresentationTerm>Identifier</ccts:RepresentationTerm>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:simpleContent>
      <xsd:extension base="FixedAssetID.Content">
        <xsd:attribute name="schemeID">
          <xsd:simpleType>
            <xsd:restriction base="xsd:token">
              <xsd:maxLength value="60"/>
              <xsd:minLength value="1"/>
            </xsd:restriction>
          </xsd:simpleType>
        </xsd:attribute>
        <xsd:attribute name="schemeAgencyID">
          <xsd:simpleType>
            <xsd:restriction base="xsd:token">
              <xsd:maxLength value="60"/>
              <xsd:minLength value="1"/>
            </xsd:restriction>
          </xsd:simpleType>
        </xsd:attribute>
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:simpleType name="FixedAssetID.Content">
    <xsd:restriction base="xsd:token">
      <xsd:maxLength value="4"/>
      <xsd:minLength value="1"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:complexType name="GdsMvmtERPByIDQryMsg_s">
    <xsd:sequence>
      <xsd:element name="GoodsMovementSelectionByID" type="GdsMvmtERPByIDQry_sSel"/>
      <xsd:element minOccurs="0" name="ProcessingConditions" type="NOSC_QueryProcessingConditions"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="GdsMvmtERPByIDQry_sSel">
    <xsd:sequence>
      <xsd:element maxOccurs="unbounded" name="SelectionByGoodsMovementID" type="GdsMvmtERPByIDQry_sSelByGdsMvmtID"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="GdsMvmtERPByIDQry_sSelByGdsMvmtID">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="InclusionExclusionCode" type="InclusionExclusionCode"/>
      <xsd:element name="IntervalBoundaryTypeCode" type="IntervalBoundaryTypeCode"/>
      <xsd:element minOccurs="0" name="LowerBoundaryGoodsMovementID" type="NOSC_GoodsMovementID"/>
      <xsd:element minOccurs="0" name="UpperBoundaryGoodsMovementID" type="NOSC_GoodsMovementID"/>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="SelectionByYear" type="GdsMvmtERPByIDQry_sSelByGdsMvmtIDYear"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="GdsMvmtERPByIDQry_sSelByGdsMvmtIDYear">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="InclusionExclusionCode" type="InclusionExclusionCode"/>
      <xsd:element name="IntervalBoundaryTypeCode" type="IntervalBoundaryTypeCode"/>
      <xsd:element minOccurs="0" name="LowerBoundaryYear" type="Year"/>
      <xsd:element minOccurs="0" name="UpperBoundaryYear" type="Year"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="GdsMvmtERPByIDRspMsg_s">
    <xsd:sequence>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="GoodsMovement" type="GdsMvmtERPByIDRsp_sGdsMvmt"/>
      <xsd:element name="ProcessingConditions" type="NOSC_ResponseProcessingConditions"/>
      <xsd:element name="Log" type="NOSC_Log"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="GdsMvmtERPByIDRsp_sGdsMvmt">
    <xsd:sequence>
      <xsd:element name="ID" type="NOSC_GoodsMovementID"/>
      <xsd:element name="Year" type="Year"/>
      <xsd:element name="CancellationDocumentIndicator" type="Indicator"/>
      <xsd:element name="PostingDate" type="Date"/>
      <xsd:element name="DocumentCreationDate" type="Date"/>
      <xsd:element minOccurs="0" name="Description" type="LANGUAGEINDEPENDENT_SHORT_Description"/>
      <xsd:element minOccurs="0" name="ExternalGoodsMovementReferenceDocumentID" type="NOSC_GoodsMovementReferenceDocumentID"/>
      <xsd:element minOccurs="0" name="GoodsReceiptIssueSlipPrintTypeCode" type="GoodsReceiptIssueSlipPrintTypeCode"/>
      <xsd:element minOccurs="0" name="GoodsReceiptIssueSlipPrintTypeName" type="MEDIUM_Name"/>
      <xsd:element maxOccurs="unbounded" name="Item" type="GdsMvmtERPByIDRsp_sGdsMvmtItm"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="GdsMvmtERPByIDRsp_sGdsMvmtItm">
    <xsd:sequence>
      <xsd:element name="ID" type="GoodsMovementItemID"/>
      <xsd:element minOccurs="0" name="ParentGoodsMovementItemID" type="GoodsMovementItemID"/>
      <xsd:element minOccurs="0" name="CancelledGoodsMovementID" type="NOSC_GoodsMovementID"/>
      <xsd:element minOccurs="0" name="Year" type="Year"/>
      <xsd:element minOccurs="0" name="CancelledGoodsMovementItemID" type="GoodsMovementItemID"/>
      <xsd:element name="GoodsMovementTypeCode" type="NOSC_GoodsMovementTypeCode"/>
      <xsd:element minOccurs="0" name="GoodsMovementTypeName" type="MEDIUM_Name"/>
      <xsd:element name="InventoryUsabilityCode" type="InventoryUsabilityCode"/>
      <xsd:element minOccurs="0" name="InventoryUsabilityName" type="MEDIUM_Name"/>
      <xsd:element minOccurs="0" name="InventorySpecialStockTypeCode" type="InventorySpecialStockTypeCode"/>
      <xsd:element minOccurs="0" name="InventorySpecialStockTypeName" type="MEDIUM_Name"/>
      <xsd:element minOccurs="0" name="GoodsMovementReasonCode" type="NOSC_GoodsMovementReasonCode"/>
      <xsd:element minOccurs="0" name="GoodsMovementReasonName" type="MEDIUM_Name"/>
      <xsd:element minOccurs="0" name="UnloadingPointName" type="UnloadingPointName"/>
      <xsd:element name="GoodsReceiptCompletedIndicator" type="OPTIONAL_Indicator"/>
      <xsd:element minOccurs="0" name="GoodsRecipientName" type="GoodsRecipientName"/>
      <xsd:element name="PlantID" type="NOSC_PlantID"/>
      <xsd:element minOccurs="0" name="PlantName" type="LANGUAGEINDEPENDENT_MEDIUM_Name"/>
      <xsd:element minOccurs="0" name="Description" type="LANGUAGEINDEPENDENT_MEDIUM_Description"/>
      <xsd:element minOccurs="0" name="SalesOrderID" type="NOSC_SalesOrderID"/>
      <xsd:element minOccurs="0" name="SalesOrderItemID" type="SalesOrderItemID"/>
      <xsd:element minOccurs="0" name="ProjectWorkBreakdownStructureElementID" type="NOSC_ProjectWorkBreakdownStructureElementID"/>
      <xsd:element minOccurs="0" name="ReservationID" type="NOSC_ReservationID"/>
      <xsd:element minOccurs="0" name="ReservationIItemD" type="ReservationItemID"/>
      <xsd:element name="DebitCreditCode" type="DebitCreditCode"/>
      <xsd:element minOccurs="0" name="DebitCreditName" type="MEDIUM_Name"/>
      <xsd:element minOccurs="0" name="ProductRecipientParty" type="GdsMvmtERPByIDRsp_sGdsMvmtItmProdRcpntPty"/>
      <xsd:element minOccurs="0" name="SellerParty" type="GdsMvmtERPByIDRsp_sGdsMvmtItmSlrPty"/>
      <xsd:element minOccurs="0" name="InventoryManagedLocation" type="GdsMvmtERPByIDRsp_sGdsMvmtItmInvMngdLoc"/>
      <xsd:element minOccurs="0" name="Material" type="GdsMvmtERPByIDRsp_sGdsMvmtItmMatl"/>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="SerialNumber" type="GdsMvmtERPByIDRsp_sGdsMvmtItmSrlNo"/>
      <xsd:element name="Quantity" type="GdsMvmtERPByIDRsp_sGdsMvmtItmQty"/>
      <xsd:element minOccurs="0" name="AccountingCodingBlockDistribution" type="GdsMvmtERPByIDRsp_sGdsMvmtItmAcctgCodgBlkDistr"/>
      <xsd:element minOccurs="0" name="PurchaseOrderReference" type="GdsMvmtERPByIDRsp_sGdsMvmtItmPurOrdRef"/>
      <xsd:element minOccurs="0" name="FixedAssetReference" type="GdsMvmtERPByIDRsp_sGdsMvmtItmFxdAstRef"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="GdsMvmtERPByIDRsp_sGdsMvmtItmAcctgCodgBlkAssgmt">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="ProfitCentreID" type="OrganisationalCentreID"/>
      <xsd:element minOccurs="0" name="CostCentreID" type="OrganisationalCentreID"/>
      <xsd:element minOccurs="0" name="ProjectReference" type="NOSC_ProjectReference"/>
      <xsd:element minOccurs="0" name="FundsManagementCentreID" type="NOSC_FundsManagementCentreID"/>
      <xsd:element minOccurs="0" name="SalesOrderReference" type="GdsMvmtERPByIDRsp_sGdsMvmtItmSlsOrdRef"/>
      <xsd:element minOccurs="0" name="ProductionOrderReference" type="NOSC_BusinessTransactionDocumentReference"/>
      <xsd:element minOccurs="0" name="MaintenanceOrderReference" type="NOSC_BusinessTransactionDocumentReference"/>
      <xsd:element minOccurs="0" name="ServiceExecutionOrderReference" type="NOSC_BusinessTransactionDocumentReference"/>
      <xsd:element minOccurs="0" name="FundsManagementFundID" type="NOSC_FundsManagementFundID"/>
      <xsd:element minOccurs="0" name="FundsManagementAccountID" type="NOSC_FundsManagementAccountID"/>
      <xsd:element minOccurs="0" name="GrantID" type="NOSC_GrantID"/>
      <xsd:element minOccurs="0" name="AccountDeterminationExpenseGroupCode" type="AccountDeterminationExpenseGroupCode"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="GdsMvmtERPByIDRsp_sGdsMvmtItmAcctgCodgBlkDistr">
    <xsd:sequence>
      <xsd:element maxOccurs="unbounded" name="AccountingCodingBlockAssignment" type="GdsMvmtERPByIDRsp_sGdsMvmtItmAcctgCodgBlkAssgmt"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="GdsMvmtERPByIDRsp_sGdsMvmtItmFxdAstRef">
    <xsd:sequence>
      <xsd:element name="MasterFixedAssetID" type="MasterFixedAssetID"/>
      <xsd:element minOccurs="0" name="FixedAssetID" type="FixedAssetID"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="GdsMvmtERPByIDRsp_sGdsMvmtItmInvMngdLoc">
    <xsd:sequence>
      <xsd:element name="InternalID" type="NOSC_LocationInternalID"/>
      <xsd:element minOccurs="0" name="Description" type="LANGUAGEINDEPENDENT_SHORT_Description"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="GdsMvmtERPByIDRsp_sGdsMvmtItmMatl">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="InternalID" type="NOSC_ProductInternalID"/>
      <xsd:element minOccurs="0" name="BatchID" type="NOSC_BatchID"/>
      <xsd:element minOccurs="0" name="InventoryValuationTypeCode" type="NOSC_InventoryValuationTypeCode"/>
      <xsd:element minOccurs="0" name="ExpirationDate" type="Date"/>
      <xsd:element minOccurs="0" name="ProductionDate" type="Date"/>
      <xsd:element minOccurs="0" name="Description" type="LANGUAGEINDEPENDENT_SHORT_Description"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="GdsMvmtERPByIDRsp_sGdsMvmtItmProdRcpntPty">
    <xsd:sequence>
      <xsd:element name="InternalID" type="NOSC_PartyInternalID"/>
      <xsd:element minOccurs="0" name="FormattedName" type="LANGUAGEINDEPENDENT_MEDIUM_Name"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="GdsMvmtERPByIDRsp_sGdsMvmtItmPurOrdRef">
    <xsd:sequence>
      <xsd:element name="ID" type="NOSC_PurchaseOrderID"/>
      <xsd:element name="ItemID" type="PurchaseOrderItemID"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="GdsMvmtERPByIDRsp_sGdsMvmtItmQty">
    <xsd:sequence>
      <xsd:element name="EntryQuantity" type="Quantity"/>
      <xsd:element minOccurs="0" name="BaseQuantity" type="Quantity"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="GdsMvmtERPByIDRsp_sGdsMvmtItmSlrPty">
    <xsd:sequence>
      <xsd:element name="InternalID" type="NOSC_PartyInternalID"/>
      <xsd:element minOccurs="0" name="FormattedName" type="LANGUAGEINDEPENDENT_MEDIUM_Name"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="GdsMvmtERPByIDRsp_sGdsMvmtItmSlsOrdRef">
    <xsd:sequence>
      <xsd:element name="ID" type="NOSC_SalesOrderID"/>
      <xsd:element minOccurs="0" name="ItemID" type="SalesOrderItemID"/>
      <xsd:element minOccurs="0" name="ScheduleLine" type="BusinessTransactionDocumentItemScheduleLineID"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="GdsMvmtERPByIDRsp_sGdsMvmtItmSrlNo">
    <xsd:sequence>
      <xsd:element name="SerialID" type="SerialID"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:simpleType name="GoodsMovementItemID">
    <xsd:annotation>
      <xsd:documentation xml:lang="EN">
        <ccts:RepresentationTerm>Identifier</ccts:RepresentationTerm>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:token">
      <xsd:maxLength value="4"/>
      <xsd:minLength value="1"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="GoodsReceiptIssueSlipPrintTypeCode">
    <xsd:annotation>
      <xsd:documentation xml:lang="EN">
        <ccts:RepresentationTerm>Code</ccts:RepresentationTerm>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:token">
      <xsd:length value="1"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="GoodsRecipientName">
    <xsd:annotation>
      <xsd:documentation xml:lang="EN">
        <ccts:RepresentationTerm>Name</ccts:RepresentationTerm>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="12"/>
      <xsd:minLength value="1"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="InclusionExclusionCode">
    <xsd:annotation>
      <xsd:documentation xml:lang="EN">
        <ccts:RepresentationTerm>Code</ccts:RepresentationTerm>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:token">
      <xsd:length value="1"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="Indicator">
    <xsd:annotation>
      <xsd:documentation xml:lang="EN">
        <ccts:RepresentationTerm>Indicator</ccts:RepresentationTerm>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:boolean"/>
  </xsd:simpleType>
  <xsd:simpleType name="IntervalBoundaryTypeCode">
    <xsd:annotation>
      <xsd:documentation xml:lang="EN">
        <ccts:RepresentationTerm>Code</ccts:RepresentationTerm>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:token">
      <xsd:length value="1"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="InventorySpecialStockTypeCode">
    <xsd:annotation>
      <xsd:documentation xml:lang="EN">
        <ccts:RepresentationTerm>Code</ccts:RepresentationTerm>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:token">
      <xsd:length value="1"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="InventoryUsabilityCode">
    <xsd:restriction base="xsd:token">
      <xsd:length value="1"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="LANGUAGEINDEPENDENT_MEDIUM_Description">
    <xsd:annotation>
      <xsd:documentation xml:lang="EN">
        <ccts:RepresentationTerm>Description</ccts:RepresentationTerm>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="80"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="LANGUAGEINDEPENDENT_MEDIUM_Name">
    <xsd:annotation>
      <xsd:documentation xml:lang="EN">
        <ccts:RepresentationTerm>Name</ccts:RepresentationTerm>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="40"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="LANGUAGEINDEPENDENT_SHORT_Description">
    <xsd:annotation>
      <xsd:documentation xml:lang="EN">
        <ccts:RepresentationTerm>Description</ccts:RepresentationTerm>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="40"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="LanguageCode">
    <xsd:annotation>
      <xsd:documentation xml:lang="EN">
        <ccts:RepresentationTerm>Code</ccts:RepresentationTerm>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:language">
      <xsd:maxLength value="9"/>
      <xsd:minLength value="2"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="LogItemNote">
    <xsd:annotation>
      <xsd:documentation xml:lang="EN">
        <ccts:RepresentationTerm>Note</ccts:RepresentationTerm>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="200"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="LogItemSeverityCode">
    <xsd:annotation>
      <xsd:documentation xml:lang="EN">
        <ccts:RepresentationTerm>Code</ccts:RepresentationTerm>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:token">
      <xsd:length value="1"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="LogItemTypeID">
    <xsd:annotation>
      <xsd:documentation xml:lang="EN">
        <ccts:RepresentationTerm>Identifier</ccts:RepresentationTerm>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:token">
      <xsd:maxLength value="40"/>
      <xsd:minLength value="1"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:complexType name="MEDIUM_Name">
    <xsd:annotation>
      <xsd:documentation xml:lang="EN">
        <ccts:RepresentationTerm>Name</ccts:RepresentationTerm>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:simpleContent>
      <xsd:extension base="MEDIUM_Name.Content">
        <xsd:attribute name="languageCode" type="LanguageCode"/>
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:simpleType name="MEDIUM_Name.Content">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="40"/>
      <xsd:minLength value="1"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:complexType name="MasterFixedAssetID">
    <xsd:annotation>
      <xsd:documentation xml:lang="EN">
        <ccts:RepresentationTerm>Identifier</ccts:RepresentationTerm>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:simpleContent>
      <xsd:extension base="MasterFixedAssetID.Content">
        <xsd:attribute name="schemeID">
          <xsd:simpleType>
            <xsd:restriction base="xsd:token">
              <xsd:maxLength value="60"/>
              <xsd:minLength value="1"/>
            </xsd:restriction>
          </xsd:simpleType>
        </xsd:attribute>
        <xsd:attribute name="schemeAgencyID">
          <xsd:simpleType>
            <xsd:restriction base="xsd:token">
              <xsd:maxLength value="60"/>
              <xsd:minLength value="1"/>
            </xsd:restriction>
          </xsd:simpleType>
        </xsd:attribute>
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:simpleType name="MasterFixedAssetID.Content">
    <xsd:restriction base="xsd:token">
      <xsd:maxLength value="12"/>
      <xsd:minLength value="1"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="MeasureUnitCode">
    <xsd:annotation>
      <xsd:documentation xml:lang="EN">
        <ccts:RepresentationTerm>Code</ccts:RepresentationTerm>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:token">
      <xsd:maxLength value="3"/>
      <xsd:minLength value="1"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="NOSC_BatchID">
    <xsd:annotation>
      <xsd:documentation xml:lang="EN">
        <ccts:RepresentationTerm>Identifier</ccts:RepresentationTerm>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:token">
      <xsd:maxLength value="20"/>
      <xsd:minLength value="1"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="NOSC_BusinessTransactionDocumentID">
    <xsd:annotation>
      <xsd:documentation xml:lang="EN">
        <ccts:RepresentationTerm>Identifier</ccts:RepresentationTerm>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:token">
      <xsd:maxLength value="35"/>
      <xsd:minLength value="1"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:complexType name="NOSC_BusinessTransactionDocumentReference">
    <xsd:sequence>
      <xsd:element name="ID" type="NOSC_BusinessTransactionDocumentID"/>
      <xsd:element minOccurs="0" name="UUID" type="ATTRIBUTEINDEPENDENT_UUID"/>
      <xsd:element minOccurs="0" name="TypeCode" type="BusinessTransactionDocumentTypeCode"/>
      <xsd:element minOccurs="0" name="ItemID" type="BusinessTransactionDocumentItemID"/>
      <xsd:element minOccurs="0" name="ItemUUID" type="ATTRIBUTEINDEPENDENT_UUID"/>
      <xsd:element minOccurs="0" name="ItemTypeCode" type="BusinessTransactionDocumentItemTypeCode"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:simpleType name="NOSC_FundsManagementAccountID">
    <xsd:annotation>
      <xsd:documentation xml:lang="EN">
        <ccts:RepresentationTerm>Identifier</ccts:RepresentationTerm>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:token">
      <xsd:maxLength value="24"/>
      <xsd:minLength value="1"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="NOSC_FundsManagementCentreID">
    <xsd:annotation>
      <xsd:documentation xml:lang="EN">
        <ccts:RepresentationTerm>Identifier</ccts:RepresentationTerm>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:token">
      <xsd:maxLength value="16"/>
      <xsd:minLength value="1"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="NOSC_FundsManagementFundID">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="20"/>
      <xsd:minLength value="1"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="NOSC_GoodsMovementID">
    <xsd:annotation>
      <xsd:documentation xml:lang="EN">
        <ccts:RepresentationTerm>Identifier</ccts:RepresentationTerm>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:token">
      <xsd:maxLength value="10"/>
      <xsd:minLength value="1"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="NOSC_GoodsMovementReasonCode">
    <xsd:annotation>
      <xsd:documentation xml:lang="EN">
        <ccts:RepresentationTerm>Code</ccts:RepresentationTerm>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:token">
      <xsd:maxLength value="4"/>
      <xsd:minLength value="1"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="NOSC_GoodsMovementReferenceDocumentID">
    <xsd:annotation>
      <xsd:documentation xml:lang="EN">
        <ccts:RepresentationTerm>Identifier</ccts:RepresentationTerm>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:token">
      <xsd:maxLength value="16"/>
      <xsd:minLength value="1"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="NOSC_GoodsMovementTypeCode">
    <xsd:annotation>
      <xsd:documentation xml:lang="EN">
        <ccts:RepresentationTerm>Code</ccts:RepresentationTerm>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:token">
      <xsd:length value="3"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="NOSC_GrantID">
    <xsd:annotation>
      <xsd:documentation xml:lang="EN">
        <ccts:RepresentationTerm>Identifier</ccts:RepresentationTerm>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:token">
      <xsd:maxLength value="20"/>
      <xsd:minLength value="1"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="NOSC_InventoryValuationTypeCode">
    <xsd:annotation>
      <xsd:documentation xml:lang="EN">
        <ccts:RepresentationTerm>Code</ccts:RepresentationTerm>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:token">
      <xsd:maxLength value="10"/>
      <xsd:minLength value="1"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="NOSC_LocationInternalID">
    <xsd:annotation>
      <xsd:documentation xml:lang="EN">
        <ccts:RepresentationTerm>Identifier</ccts:RepresentationTerm>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:token">
      <xsd:maxLength value="20"/>
      <xsd:minLength value="1"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:complexType name="NOSC_Log">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="BusinessDocumentProcessingResultCode" type="ProcessingResultCode"/>
      <xsd:element minOccurs="0" name="MaximumLogItemSeverityCode" type="LogItemSeverityCode"/>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="Item" type="NOSC_LogItem"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="NOSC_LogItem">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="TypeID" type="LogItemTypeID"/>
      <xsd:element minOccurs="0" name="CategoryCode" type="NOSC_LogItemCategoryCode"/>
      <xsd:element minOccurs="0" name="SeverityCode" type="LogItemSeverityCode"/>
      <xsd:element name="Note" type="LogItemNote"/>
      <xsd:element minOccurs="0" name="WebURI" type="WebURI"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:simpleType name="NOSC_LogItemCategoryCode">
    <xsd:annotation>
      <xsd:documentation xml:lang="EN">
        <ccts:RepresentationTerm>Code</ccts:RepresentationTerm>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:token">
      <xsd:maxLength value="15"/>
      <xsd:minLength value="1"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="NOSC_ObjectID">
    <xsd:annotation>
      <xsd:documentation xml:lang="EN">
        <ccts:RepresentationTerm>Identifier</ccts:RepresentationTerm>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:token">
      <xsd:maxLength value="100"/>
      <xsd:minLength value="1"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="NOSC_PartyInternalID">
    <xsd:annotation>
      <xsd:documentation xml:lang="EN">
        <ccts:RepresentationTerm>Identifier</ccts:RepresentationTerm>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:token">
      <xsd:maxLength value="32"/>
      <xsd:minLength value="1"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="NOSC_PlantID">
    <xsd:annotation>
      <xsd:documentation xml:lang="EN">
        <ccts:RepresentationTerm>Identifier</ccts:RepresentationTerm>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:token">
      <xsd:maxLength value="4"/>
      <xsd:minLength value="1"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="NOSC_ProductInternalID">
    <xsd:annotation>
      <xsd:documentation xml:lang="EN">
        <ccts:RepresentationTerm>Identifier</ccts:RepresentationTerm>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:token">
      <xsd:maxLength value="60"/>
      <xsd:minLength value="1"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="NOSC_ProjectElementID">
    <xsd:annotation>
      <xsd:documentation xml:lang="EN">
        <ccts:RepresentationTerm>Identifier</ccts:RepresentationTerm>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:token">
      <xsd:maxLength value="32"/>
      <xsd:minLength value="1"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="NOSC_ProjectID">
    <xsd:annotation>
      <xsd:documentation xml:lang="EN">
        <ccts:RepresentationTerm>Identifier</ccts:RepresentationTerm>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:token">
      <xsd:maxLength value="32"/>
      <xsd:minLength value="1"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:complexType name="NOSC_ProjectReference">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="ProjectID" type="NOSC_ProjectID"/>
      <xsd:element minOccurs="0" name="ProjectUUID" type="UUID"/>
      <xsd:element minOccurs="0" name="ProjectName" type="MEDIUM_Name"/>
      <xsd:element minOccurs="0" name="ProjectElementID" type="NOSC_ProjectElementID"/>
      <xsd:element minOccurs="0" name="ProjectElementUUID" type="UUID"/>
      <xsd:element minOccurs="0" name="ProjectElementName" type="MEDIUM_Name"/>
      <xsd:element minOccurs="0" name="ProjectElementTypeCode" type="ProjectElementTypeCode"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:simpleType name="NOSC_ProjectWorkBreakdownStructureElementID">
    <xsd:annotation>
      <xsd:documentation xml:lang="EN">
        <ccts:RepresentationTerm>Identifier</ccts:RepresentationTerm>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:token">
      <xsd:maxLength value="32"/>
      <xsd:minLength value="1"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="NOSC_PurchaseOrderID">
    <xsd:annotation>
      <xsd:documentation xml:lang="EN">
        <ccts:RepresentationTerm>Identifier</ccts:RepresentationTerm>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:token">
      <xsd:maxLength value="10"/>
      <xsd:minLength value="1"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:complexType name="NOSC_QueryProcessingConditions">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="QueryHitsMaximumNumberValue" type="NumberValue"/>
      <xsd:element name="QueryHitsUnlimitedIndicator" type="Indicator"/>
      <xsd:element minOccurs="0" name="LastReturnedObjectID" type="NOSC_ObjectID"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:simpleType name="NOSC_ReservationID">
    <xsd:annotation>
      <xsd:documentation xml:lang="EN">
        <ccts:RepresentationTerm>Identifier</ccts:RepresentationTerm>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:token">
      <xsd:maxLength value="10"/>
      <xsd:minLength value="1"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:complexType name="NOSC_ResponseProcessingConditions">
    <xsd:sequence>
      <xsd:element name="ReturnedQueryHitsNumberValue" type="NumberValue"/>
      <xsd:element name="MoreHitsAvailableIndicator" type="Indicator"/>
      <xsd:element minOccurs="0" name="LastReturnedObjectID" type="NOSC_ObjectID"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:simpleType name="NOSC_SalesOrderID">
    <xsd:annotation>
      <xsd:documentation xml:lang="EN">
        <ccts:RepresentationTerm>Identifier</ccts:RepresentationTerm>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:token">
      <xsd:maxLength value="10"/>
      <xsd:minLength value="1"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="NumberValue">
    <xsd:annotation>
      <xsd:documentation xml:lang="EN">
        <ccts:RepresentationTerm>Value</ccts:RepresentationTerm>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:int">
      <xsd:maxInclusive value="999999999"/>
      <xsd:minInclusive value="0"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="OPTIONAL_Indicator">
    <xsd:annotation>
      <xsd:documentation xml:lang="EN">
        <ccts:RepresentationTerm>Indicator</ccts:RepresentationTerm>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:boolean"/>
  </xsd:simpleType>
  <xsd:simpleType name="OrganisationalCentreID">
    <xsd:annotation>
      <xsd:documentation xml:lang="EN">
        <ccts:RepresentationTerm>Identifier</ccts:RepresentationTerm>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:token">
      <xsd:maxLength value="20"/>
      <xsd:minLength value="1"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="ProcessingResultCode">
    <xsd:annotation>
      <xsd:documentation xml:lang="EN">
        <ccts:RepresentationTerm>Code</ccts:RepresentationTerm>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:token">
      <xsd:maxLength value="2"/>
      <xsd:minLength value="1"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="ProjectElementTypeCode">
    <xsd:annotation>
      <xsd:documentation xml:lang="EN">
        <ccts:RepresentationTerm>Code</ccts:RepresentationTerm>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:token">
      <xsd:maxLength value="3"/>
      <xsd:minLength value="1"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="PurchaseOrderItemID">
    <xsd:annotation>
      <xsd:documentation xml:lang="EN">
        <ccts:RepresentationTerm>Identifier</ccts:RepresentationTerm>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:token">
      <xsd:maxLength value="5"/>
      <xsd:minLength value="1"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:complexType name="Quantity">
    <xsd:annotation>
      <xsd:documentation xml:lang="EN">
        <ccts:RepresentationTerm>Quantity</ccts:RepresentationTerm>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:simpleContent>
      <xsd:extension base="Quantity.Content">
        <xsd:attribute name="unitCode" type="MeasureUnitCode"/>
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:simpleType name="Quantity.Content">
    <xsd:restriction base="xsd:decimal">
      <xsd:totalDigits value="31"/>
      <xsd:fractionDigits value="14"/>
      <xsd:maxInclusive value="99999999999999999.99999999999999"/>
      <xsd:minInclusive value="-99999999999999999.99999999999999"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="ReservationItemID">
    <xsd:annotation>
      <xsd:documentation xml:lang="EN">
        <ccts:RepresentationTerm>Identifier</ccts:RepresentationTerm>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:token">
      <xsd:maxLength value="4"/>
      <xsd:minLength value="1"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="SalesOrderItemID">
    <xsd:annotation>
      <xsd:documentation xml:lang="EN">
        <ccts:RepresentationTerm>Identifier</ccts:RepresentationTerm>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:token">
      <xsd:maxLength value="6"/>
      <xsd:minLength value="1"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="SerialID">
    <xsd:annotation>
      <xsd:documentation xml:lang="EN">
        <ccts:RepresentationTerm>Identifier</ccts:RepresentationTerm>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:token">
      <xsd:maxLength value="30"/>
      <xsd:minLength value="1"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:complexType name="UUID">
    <xsd:annotation>
      <xsd:documentation xml:lang="EN">
        <ccts:RepresentationTerm>Identifier</ccts:RepresentationTerm>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:simpleContent>
      <xsd:extension base="UUID.Content">
        <xsd:attribute name="schemeID">
          <xsd:simpleType>
            <xsd:restriction base="xsd:token">
              <xsd:maxLength value="60"/>
              <xsd:minLength value="1"/>
            </xsd:restriction>
          </xsd:simpleType>
        </xsd:attribute>
        <xsd:attribute name="schemeAgencyID">
          <xsd:simpleType>
            <xsd:restriction base="xsd:token">
              <xsd:maxLength value="60"/>
              <xsd:minLength value="1"/>
            </xsd:restriction>
          </xsd:simpleType>
        </xsd:attribute>
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:simpleType name="UUID.Content">
    <xsd:restriction base="xsd:token">
      <xsd:length value="36"/>
      <xsd:pattern value="[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="UnloadingPointName">
    <xsd:annotation>
      <xsd:documentation xml:lang="EN">
        <ccts:RepresentationTerm>Name</ccts:RepresentationTerm>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="25"/>
      <xsd:minLength value="1"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="WebURI">
    <xsd:annotation>
      <xsd:documentation xml:lang="EN">
        <ccts:RepresentationTerm>URI</ccts:RepresentationTerm>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:anyURI"/>
  </xsd:simpleType>
  <xsd:simpleType name="Year">
    <xsd:annotation>
      <xsd:documentation xml:lang="EN">
        <ccts:RepresentationTerm>Text</ccts:RepresentationTerm>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
      <xsd:length value="4"/>
    </xsd:restriction>
  </xsd:simpleType>
 -->  
</xsd:schema>