CanonicalsAndSchemas/SAPLibraries/SAPSupplier_ECC_SUPPLIERBASICDATABYIDQR/ECC_SUPPLIERBASICDATABYIDQR_InlineSchema2.xsd

<?xml version="1.0" encoding="UTF-8"?><xsd:schema targetNamespace="http://sap.com/xi/SAPGlobal20/Global" xmlns="http://sap.com/xi/SAPGlobal20/Global" xmlns:ccts="urn:un:unece:uncefact:documentation:standard:CoreComponentsTechnicalSpecification:3.0" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:ibmSchExtn="http://www.ibm.com/schema/extensions" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:n1="http://sap.com/xi/SAPGlobal20/Global" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:sprx="urn:sap.com:abap:proxy" xmlns:tns="http://sap.com/xi/APPL/SE/Global" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsoap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xi0="http://sap.com/xi/SAPGlobal20/Global" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:import namespace="http://sap.com/xi/APPL/SE/Global" schemaLocation="ECC_SUPPLIERBASICDATABYIDQR_InlineSchema1.xsd"/>
  <xsd:annotation>
    <xsd:documentation>
      <sprx:documentation baseURL="http://vhkfrerzci.rot.hec.ghanp.kfplc.com:8000/sap/bc/esdt/docu/xsd_type?sap-client=301" version="1"/>
    </xsd:documentation>
  </xsd:annotation>
  <xsd:element ibmSchExtn:docRoot="true" name="StandardMessageFault">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="standard" type="tns:ExchangeFaultData"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element ibmSchExtn:docRoot="true" name="SupplierBasicDataByIDQuery_sync" type="tns:SupplierBasicDataByIDQueryMessage_sync"/>
  <xsd:element ibmSchExtn:docRoot="true" name="SupplierBasicDataByIDResponse_sync" type="tns:SupplierBasicDataByIDResponseMessage_sync"/>
</xsd:schema>