CanonicalsAndSchemas/SAPLibraries/SAPPurchaseOrder_ZECC_PO_CREATE/ZECC_PO_CREATE_InlineSchema2.xsd

<?xml version="1.0" encoding="UTF-8"?><xsd:schema attributeFormDefault="qualified" targetNamespace="urn:sap-com:document:sap:soap:functions:mc-style" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:ibmSchExtn="http://www.ibm.com/schema/extensions" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:n0="urn:sap-com:document:sap:rfc:functions" xmlns:n1="urn:sap-com:document:sap:rfc:functions" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="urn:sap-com:document:sap:soap:functions:mc-style" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsoap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <!--  <xsd:import namespace="urn:sap-com:document:sap:rfc:functions" schemaLocation="ZECC_PO_CREATE_InlineSchema1.xsd"/> -->
  <xsd:import namespace="urn:sap-com:document:sap:rfc:functions" schemaLocation="../SAPPurchaseOrder_ZECC_GET_PURCHASEORDERS/purchaseorder_InlineSchema1.xsd"/>
  <!-- Debraj Sengupta : Commented out the common elements that are present in both the library -->
  <!--
  <xsd:simpleType name="char3">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="3"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="char5">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="5"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:complexType name="ZcncSPoitem">
    <xsd:sequence>
      <xsd:element name="Material" type="n0:char18"/>
      <xsd:element name="Plant" type="n0:char4"/>
      <xsd:element name="Quantity" type="n0:quantum13.3"/>
      <xsd:element name="PoUnitIso" type="tns:char3"/>
      <xsd:element name="RetItem" type="n0:char1"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Bapiret2">
    <xsd:sequence>
      <xsd:element name="Type" type="n0:char1"/>
      <xsd:element name="Id" type="n0:char20"/>
      <xsd:element name="Number" type="n0:numeric3"/>
      <xsd:element name="Message" type="n0:char220"/>
      <xsd:element name="LogNo" type="n0:char20"/>
      <xsd:element name="LogMsgNo" type="n0:numeric6"/>
      <xsd:element name="MessageV1" type="n0:char50"/>
      <xsd:element name="MessageV2" type="n0:char50"/>
      <xsd:element name="MessageV3" type="n0:char50"/>
      <xsd:element name="MessageV4" type="n0:char50"/>
      <xsd:element name="Parameter" type="n0:char32"/>
      <xsd:element name="Row" type="xsd:int"/>
      <xsd:element name="Field" type="n0:char30"/>
      <xsd:element name="System" type="n0:char10"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Bapireturn">
    <xsd:sequence>
      <xsd:element name="Type" type="n0:char1"/>
      <xsd:element name="Code" type="tns:char5"/>
      <xsd:element name="Message" type="n0:char220"/>
      <xsd:element name="LogNo" type="n0:char20"/>
      <xsd:element name="LogMsgNo" type="n0:numeric6"/>
      <xsd:element name="MessageV1" type="n0:char50"/>
      <xsd:element name="MessageV2" type="n0:char50"/>
      <xsd:element name="MessageV3" type="n0:char50"/>
      <xsd:element name="MessageV4" type="n0:char50"/>
    </xsd:sequence>
  </xsd:complexType>
   <xsd:complexType name="Bapiret2T">
    <xsd:sequence>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="item" type="tns:Bapiret2"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="WrfBapireturnTty">
    <xsd:sequence>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="item" type="tns:Bapireturn"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ZcncTtPoitem">
    <xsd:sequence>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="item" type="tns:ZcncSPoitem"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element ibmSchExtn:docRoot="true" name="ZCncPoCreate">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="ItPoitems" type="tns:ZcncTtPoitem"/>
        <xsd:element minOccurs="0" name="IvCocode" type="n0:char4"/>
        <xsd:element minOccurs="0" name="IvDoctype" type="n0:char4"/>
        <xsd:element minOccurs="0" name="IvPurchGroup" type="n0:char3"/>
        <xsd:element minOccurs="0" name="IvPurchOrg" type="n0:char4"/>
        <xsd:element name="IvVendor" type="n0:char10"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element ibmSchExtn:docRoot="true" name="ZCncPoCreateResponse">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="EtIsoReturn" type="tns:WrfBapireturnTty"/>
        <xsd:element name="EtReturn" type="tns:Bapiret2T"/>
        <xsd:element name="EvPoNumber" type="n0:char10"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
   -->
</xsd:schema>