CanonicalsAndSchemas/SAPLibraries/SAPLayoutModule_ZECC_PLANOGRAM_CRUD/ZECC_PLANOGRAM_CRUD_InlineSchema2.xsd

<?xml version="1.0" encoding="UTF-8"?><xsd:schema attributeFormDefault="qualified" targetNamespace="urn:sap-com:document:sap:soap:functions:mc-style" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:ibmSchExtn="http://www.ibm.com/schema/extensions" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:n0="urn:sap-com:document:sap:rfc:functions" xmlns:n1="urn:sap-com:document:sap:rfc:functions" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="urn:sap-com:document:sap:soap:functions:mc-style" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsoap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <!-- 
  <xsd:import namespace="urn:sap-com:document:sap:rfc:functions" schemaLocation="ZECC_PLANOGRAM_CRUD_InlineSchema1.xsd"/>
  <xsd:simpleType name="char1">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="1"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="char40">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="40"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="date10">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="10"/>
      <xsd:pattern value="\d\d\d\d-\d\d-\d\d"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:complexType name="ZcoSCnc">
    <xsd:sequence>
      <xsd:element name="Mandt" type="n0:clnt3"/>
      <xsd:element name="Laygr" type="n0:char10"/>
      <xsd:element name="LaymodVer" type="n0:numeric4"/>
      <xsd:element name="Locnr" type="n0:char10"/>
      <xsd:element name="SiteDateFrom" type="n0:date10"/>
      <xsd:element name="RelStatus" type="tns:char1"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Bapiret2">
    <xsd:sequence>
      <xsd:element name="Type" type="n0:char1"/>
      <xsd:element name="Id" type="n0:char20"/>
      <xsd:element name="Number" type="n0:numeric3"/>
      <xsd:element name="Message" type="n0:char220"/>
      <xsd:element name="LogNo" type="n0:char20"/>
      <xsd:element name="LogMsgNo" type="n0:numeric6"/>
      <xsd:element name="MessageV1" type="n0:char50"/>
      <xsd:element name="MessageV2" type="n0:char50"/>
      <xsd:element name="MessageV3" type="n0:char50"/>
      <xsd:element name="MessageV4" type="n0:char50"/>
      <xsd:element name="Parameter" type="n0:char32"/>
      <xsd:element name="Row" type="xsd:int"/>
      <xsd:element name="Field" type="n0:char30"/>
      <xsd:element name="System" type="n0:char10"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ZcoSCncIo">
    <xsd:sequence>
      <xsd:element name="Mandt" type="n0:clnt3"/>
      <xsd:element name="Laygr" type="n0:char10"/>
      <xsd:element name="LaymodVer" type="n0:numeric4"/>
      <xsd:element name="Locnr" type="n0:char10"/>
      <xsd:element name="SiteDateFrom" type="n0:date10"/>
      <xsd:element name="SiteDateTo" type="tns:date10"/>
      <xsd:element name="DateLo" type="tns:date10"/>
      <xsd:element name="DateHi" type="tns:date10"/>
      <xsd:element name="RelStatus" type="tns:char1"/>
      <xsd:element name="Ltext" type="tns:char40"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Bapiret2T">
    <xsd:sequence>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="item" type="tns:Bapiret2"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ZcoTtCnc">
    <xsd:sequence>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="item" type="tns:ZcoSCncIo"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element ibmSchExtn:docRoot="true" name="ZCoZplanoCrudCallFrmCnc">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element minOccurs="0" name="IsZcoPlanoSelection" type="tns:ZcoSCnc"/>
        <xsd:element minOccurs="0" name="IvRead" type="n0:char1"/>
        <xsd:element minOccurs="0" name="IvUpdate" type="n0:char1"/>
        <xsd:element minOccurs="0" name="TtReturn" type="tns:Bapiret2T"/>
        <xsd:element minOccurs="0" name="TtZcoPlano" type="tns:ZcoTtCnc"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element ibmSchExtn:docRoot="true" name="ZCoZplanoCrudCallFrmCncResponse">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="EvRtrnCode" type="xsd:int"/>
        <xsd:element minOccurs="0" name="TtReturn" type="tns:Bapiret2T"/>
        <xsd:element minOccurs="0" name="TtZcoPlano" type="tns:ZcoTtCnc"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
   -->
</xsd:schema>