CanonicalsAndSchemas/SAPLibraries/SAPLayoutModule_ZECC_WMF_UPDATE_FACINGS/ZECC_WMF_UPDATE_FACINGS_InlineSchema2.xsd

<?xml version="1.0" encoding="UTF-8"?><xsd:schema attributeFormDefault="qualified" targetNamespace="urn:sap-com:document:sap:soap:functions:mc-style" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:ibmSchExtn="http://www.ibm.com/schema/extensions" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:n0="urn:sap-com:document:sap:rfc:functions" xmlns:n1="urn:sap-com:document:sap:rfc:functions" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="urn:sap-com:document:sap:soap:functions:mc-style" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsoap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <!-- 
  <xsd:import namespace="urn:sap-com:document:sap:rfc:functions" schemaLocation="ZECC_WMF_UPDATE_FACINGS_InlineSchema1.xsd"/>
  <xsd:complexType name="ZcoSWfmUpdateInput">
    <xsd:sequence>
      <xsd:element name="Laygr" type="n0:char10"/>
      <xsd:element name="Lmver" type="n0:numeric4"/>
      <xsd:element name="Shelf" type="n0:numeric10"/>
      <xsd:element name="Sorf1" type="n0:numeric10"/>
      <xsd:element name="Matnr" type="n0:char18"/>
      <xsd:element name="Meinh" type="n0:unit3"/>
      <xsd:element name="Ean11" type="n0:char18"/>
      <xsd:element name="Facin" type="n0:quantum13.3"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ZcoSWfmUpdateOutput">
    <xsd:sequence>
      <xsd:element name="Laygr" type="n0:char10"/>
      <xsd:element name="Lmver" type="n0:numeric4"/>
      <xsd:element name="Shelf" type="n0:numeric10"/>
      <xsd:element name="Sorf1" type="n0:numeric10"/>
      <xsd:element name="Locnr" type="n0:char10"/>
      <xsd:element name="Matnr" type="n0:char18"/>
      <xsd:element name="Meinh" type="n0:unit3"/>
      <xsd:element name="Ean11" type="n0:char18"/>
      <xsd:element name="Status" type="n0:char32"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ZcoTtWfmUpdateInput">
    <xsd:sequence>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="item" type="tns:ZcoSWfmUpdateInput"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ZcoTtWfmUpdateOutput">
    <xsd:sequence>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="item" type="tns:ZcoSWfmUpdateOutput"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element ibmSchExtn:docRoot="true" name="ZCoWfmUpdateFacings">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="ItWfmUpdateInput" type="tns:ZcoTtWfmUpdateInput"/>
        <xsd:element name="IvLocnr" type="n0:char10"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element ibmSchExtn:docRoot="true" name="ZCoWfmUpdateFacingsResponse">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="EtWfmUpdateOutput" type="tns:ZcoTtWfmUpdateOutput"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
   -->
</xsd:schema>