CanonicalsAndSchemas/SAPLibraries/SAPPersonnel_ZECC_EMPLOYEE_GETDATA/ZECC_EMPLOYEE_GETDATA_InlineSchema2.xsd

<?xml version="1.0" encoding="UTF-8"?><xsd:schema attributeFormDefault="qualified" targetNamespace="urn:sap-com:document:sap:soap:functions:mc-style" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:ibmSchExtn="http://www.ibm.com/schema/extensions" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:n0="urn:sap-com:document:sap:rfc:functions" xmlns:n1="urn:sap-com:document:sap:rfc:functions" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="urn:sap-com:document:sap:soap:functions:mc-style" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsoap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:import namespace="urn:sap-com:document:sap:rfc:functions" schemaLocation="ZECC_EMPLOYEE_GETDATA_InlineSchema1.xsd"/>
  <xsd:complexType name="Bapireturn">
    <xsd:sequence>
      <xsd:element name="Type" type="n0:char1"/>
      <xsd:element name="Code" type="n0:char5"/>
      <xsd:element name="Message" type="n0:char220"/>
      <xsd:element name="LogNo" type="n0:char20"/>
      <xsd:element name="LogMsgNo" type="n0:numeric6"/>
      <xsd:element name="MessageV1" type="n0:char50"/>
      <xsd:element name="MessageV2" type="n0:char50"/>
      <xsd:element name="MessageV3" type="n0:char50"/>
      <xsd:element name="MessageV4" type="n0:char50"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ZcncSEmployeeComms">
    <xsd:sequence>
      <xsd:element name="Pernr" type="n0:numeric8"/>
      <xsd:element name="Infotype" type="n0:char4"/>
      <xsd:element name="Subtype" type="n0:char4"/>
      <xsd:element name="ToDate" type="n0:date10"/>
      <xsd:element name="FromDate" type="n0:date10"/>
      <xsd:element name="Userid" type="n0:char30"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ZcncTtEmployeeComms">
    <xsd:sequence>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="item" type="tns:ZcncSEmployeeComms"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element ibmSchExtn:docRoot="true" name="ZCncEmployeeGetdata">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element minOccurs="0" name="IvDate" type="n0:date10"/>
        <xsd:element minOccurs="0" name="IvEmployeeId" type="n0:numeric8"/>
        <xsd:element minOccurs="0" name="IvUserid" type="n0:char30"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element ibmSchExtn:docRoot="true" name="ZCncEmployeeGetdataResponse">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="EsReturn" type="tns:Bapireturn"/>
        <xsd:element name="EtCommunications" type="tns:ZcncTtEmployeeComms"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
 <!-- Debraj :  Adding elements from SAPPersonnel_ZECC_USER_TO_ROLE -->
  <xsd:simpleType name="RfcException.Message.Number">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="3"/>
      <xsd:pattern value="\d*"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:complexType name="AgrUsers">
    <xsd:sequence>
      <xsd:element name="Mandt" type="n0:clnt3"/>
      <xsd:element name="AgrName" type="n0:char30"/>
      <xsd:element name="Uname" type="n0:char12"/>
      <xsd:element name="FromDat" type="n0:date10"/>
      <xsd:element name="ToDat" type="n0:date10"/>
      <xsd:element name="Exclude" type="n0:char1"/>
      <xsd:element name="ChangeDat" type="n0:date10"/>
      <xsd:element name="ChangeTim" type="n0:time"/>
      <xsd:element name="ChangeTst" type="n0:decimal15.0"/>
      <xsd:element name="OrgFlag" type="n0:char1"/>
      <xsd:element name="ColFlag" type="n0:char1"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="RfcException.Message">
    <xsd:sequence>
      <xsd:element name="ID" type="xsd:string"/>
      <xsd:element name="Number" type="tns:RfcException.Message.Number"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ZCncUserToRole.RfcException">
    <xsd:sequence>
      <xsd:element name="Name" type="tns:ZCncUserToRole.RfcExceptions"/>
      <xsd:element minOccurs="0" name="Text" type="xsd:string"/>
      <xsd:element minOccurs="0" name="Message" type="tns:RfcException.Message"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="SuidTtAgrUsers">
    <xsd:sequence>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="item" type="tns:AgrUsers"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:simpleType name="ZCncUserToRole.RfcExceptions">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="LifnrBlocked"/>
      <xsd:enumeration value="NotFound"/>
      <xsd:enumeration value="OtherError"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:element ibmSchExtn:docRoot="true" name="ZCncUserToRole.Exception" type="tns:ZCncUserToRole.RfcException"/>
  <xsd:element ibmSchExtn:docRoot="true" name="ZCncUserToRole">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element minOccurs="0" name="IvUname" type="n0:char12"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element ibmSchExtn:docRoot="true" name="ZCncUserToRoleResponse">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="EtAgrUsers" type="tns:SuidTtAgrUsers"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element> 
</xsd:schema>