CanonicalsAndSchemas/SAPLibraries/SAPInboundDelivery_ZECC_DELGETLIST/InboundDelivery_getASN_InlineSchema2.xsd

<?xml version="1.0" encoding="UTF-8"?><xsd:schema attributeFormDefault="qualified" targetNamespace="urn:sap-com:document:sap:soap:functions:mc-style" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:ibmSchExtn="http://www.ibm.com/schema/extensions" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:n0="urn:sap-com:document:sap:rfc:functions" xmlns:n1="urn:sap-com:document:sap:rfc:functions" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="urn:sap-com:document:sap:soap:functions:mc-style" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsoap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:import namespace="urn:sap-com:document:sap:rfc:functions" schemaLocation="InboundDelivery_getASN_InlineSchema1.xsd"/>
  <xsd:complexType name="BbpInbdL">
    <xsd:sequence>
      <xsd:element name="Delivery" type="n0:char10"/>
      <xsd:element name="DelivExt" type="n0:char35"/>
      <xsd:element name="DelivDate" type="n0:date10"/>
      <xsd:element name="DelivTime" type="n0:time"/>
      <xsd:element name="Route" type="n0:char6"/>
      <xsd:element name="ShipPoint" type="n0:char4"/>
      <xsd:element name="WhseNo" type="n0:char3"/>
      <xsd:element name="TransCat" type="n0:char4"/>
      <xsd:element name="TranspId" type="n0:char20"/>
      <xsd:element name="Billoflad" type="n0:char35"/>
      <xsd:element name="TotalWght" type="n0:quantum15.3"/>
      <xsd:element name="UnitOfWt" type="n0:unit3"/>
      <xsd:element name="NetWeight" type="n0:quantum15.3"/>
      <xsd:element name="Volume" type="n0:quantum15.3"/>
      <xsd:element name="Volumeunit" type="n0:unit3"/>
      <xsd:element name="Noshpunits" type="n0:numeric5"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Bapireturn">
    <xsd:sequence>
      <xsd:element name="Type" type="n0:char1"/>
      <xsd:element name="Code" type="n0:char5"/>
      <xsd:element name="Message" type="n0:char220"/>
      <xsd:element name="LogNo" type="n0:char20"/>
      <xsd:element name="LogMsgNo" type="n0:numeric6"/>
      <xsd:element name="MessageV1" type="n0:char50"/>
      <xsd:element name="MessageV2" type="n0:char50"/>
      <xsd:element name="MessageV3" type="n0:char50"/>
      <xsd:element name="MessageV4" type="n0:char50"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="TableOfBbpInbdL">
    <xsd:sequence>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="item" type="tns:BbpInbdL"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="TableOfBapireturn">
    <xsd:sequence>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="item" type="tns:Bapireturn"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element ibmSchExtn:docRoot="true" name="BbpInbDeliveryGetlist">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="EtInbDeliveryList" type="tns:TableOfBbpInbdL"/>
        <xsd:element minOccurs="0" name="IfDate" type="n0:date10"/>
        <xsd:element minOccurs="0" name="IfDelivExt" type="n0:char35"/>
        <xsd:element minOccurs="0" name="IfDelivery" type="n0:char10"/>
        <xsd:element minOccurs="0" name="IfMaterial" type="n0:char18"/>
        <xsd:element minOccurs="0" name="IfPoNumber" type="n0:char10"/>
        <xsd:element name="IfVendor" type="n0:char10"/>
        <xsd:element name="Return" type="tns:TableOfBapireturn"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element ibmSchExtn:docRoot="true" name="BbpInbDeliveryGetlistResponse">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="EtInbDeliveryList" type="tns:TableOfBbpInbdL"/>
        <xsd:element name="Return" type="tns:TableOfBapireturn"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
</xsd:schema>