CanonicalsAndSchemas/SAPLibraries/SAPTask_ZECC_GET_TASK_COUNT/ZECC_GET_TASK_COUNT_InlineSchema2.xsd

<?xml version="1.0" encoding="UTF-8"?><xsd:schema attributeFormDefault="qualified" targetNamespace="urn:sap-com:document:sap:soap:functions:mc-style" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:ibmSchExtn="http://www.ibm.com/schema/extensions" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:n0="urn:sap-com:document:sap:rfc:functions" xmlns:n1="urn:sap-com:document:sap:rfc:functions" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="urn:sap-com:document:sap:soap:functions:mc-style" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsoap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
         <!-- 
         <xsd:import namespace="urn:sap-com:document:sap:rfc:functions" schemaLocation="ZECC_GET_TASK_COUNT_InlineSchema1.xsd"/>
         <xsd:complexType name="ZcncSTaskCount">
            <xsd:sequence>
               <xsd:element name="Language" type="n0:lang"/>
               <xsd:element name="Site" type="n0:char4"/>
               <xsd:element name="Company" type="n0:char4"/>
               <xsd:element name="TaskType" type="n0:char2"/>
               <xsd:element name="TypeDesc" type="n0:char25"/>
               <xsd:element name="Subtype" type="n0:char2"/>
               <xsd:element name="SubtypeDesc" type="n0:char25"/>
               <xsd:element name="Status" type="n0:char3"/>
               <xsd:element name="StatusDesc" type="n0:char16"/>
               <xsd:element name="TaskCount" type="n0:decimal15.0"/>
            </xsd:sequence>
         </xsd:complexType>
         <xsd:complexType name="ZcncTtTaskCount">
            <xsd:sequence>
               <xsd:element maxOccurs="unbounded" minOccurs="0" name="item" type="tns:ZcncSTaskCount"/>
            </xsd:sequence>
         </xsd:complexType>
         <xsd:element ibmSchExtn:docRoot="true" name="ZCncGetTaskCount">
            <xsd:complexType>
               <xsd:sequence>
                  <xsd:element name="IvSite" type="n0:char4"/>
                  <xsd:element minOccurs="0" name="IvSubtype" type="n0:char2"/>
                  <xsd:element minOccurs="0" name="IvTaskType" type="n0:char2"/>
               </xsd:sequence>
            </xsd:complexType>
         </xsd:element>
         <xsd:element ibmSchExtn:docRoot="true" name="ZCncGetTaskCountResponse">
            <xsd:complexType>
               <xsd:sequence>
                  <xsd:element name="EtTaskCount" type="tns:ZcncTtTaskCount"/>
               </xsd:sequence>
            </xsd:complexType>
         </xsd:element>
          -->
      </xsd:schema>