CanonicalsAndSchemas/SAPLibraries/SAPPrinter_ZECC_FORM_PRINT_REQUEST/ZECC_FORM_PRINT_REQUEST_InlineSchema2.xsd

<?xml version="1.0" encoding="UTF-8"?><xsd:schema attributeFormDefault="qualified" targetNamespace="urn:sap-com:document:sap:soap:functions:mc-style" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:ibmSchExtn="http://www.ibm.com/schema/extensions" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:n0="urn:sap-com:document:sap:rfc:functions" xmlns:n1="urn:sap-com:document:sap:rfc:functions" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="urn:sap-com:document:sap:soap:functions:mc-style" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsoap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
         <xsd:import namespace="urn:sap-com:document:sap:rfc:functions" schemaLocation="ZECC_FORM_PRINT_REQUEST_InlineSchema1.xsd"/>
         <xsd:complexType name="ZcncSmartformRefS">
            <xsd:sequence>
               <xsd:element name="FormName" type="n0:char30"/>
               <xsd:element name="ParamName" type="n0:char10"/>
               <xsd:element name="ParamValue" type="n0:char20"/>
            </xsd:sequence>
         </xsd:complexType>
         <xsd:complexType name="Bapireturn1">
            <xsd:sequence>
               <xsd:element name="Type" type="n0:char1"/>
               <xsd:element name="Id" type="n0:char20"/>
               <xsd:element name="Number" type="n0:numeric3"/>
               <xsd:element name="Message" type="n0:char220"/>
               <xsd:element name="LogNo" type="n0:char20"/>
               <xsd:element name="LogMsgNo" type="n0:numeric6"/>
               <xsd:element name="MessageV1" type="n0:char50"/>
               <xsd:element name="MessageV2" type="n0:char50"/>
               <xsd:element name="MessageV3" type="n0:char50"/>
               <xsd:element name="MessageV4" type="n0:char50"/>
            </xsd:sequence>
         </xsd:complexType>
         <xsd:complexType name="ZcncSmartformRefT">
            <xsd:sequence>
               <xsd:element maxOccurs="unbounded" minOccurs="0" name="item" type="tns:ZcncSmartformRefS"/>
            </xsd:sequence>
         </xsd:complexType>
         <xsd:complexType name="Bapireturn1Tabtype">
            <xsd:sequence>
               <xsd:element maxOccurs="unbounded" minOccurs="0" name="item" type="tns:Bapireturn1"/>
            </xsd:sequence>
         </xsd:complexType>
         <xsd:element ibmSchExtn:docRoot="true" name="ZCncFormPrintRequest">
            <xsd:complexType>
               <xsd:sequence>
                  <xsd:element name="ItFormRequest" type="tns:ZcncSmartformRefT"/>
                  <xsd:element name="IvCopies" type="n0:numeric2"/>
                  <xsd:element name="IvOutputDevice" type="n0:char4"/>
                  <xsd:element name="IvSite" type="n0:char4"/>
               </xsd:sequence>
            </xsd:complexType>
         </xsd:element>
         <xsd:element ibmSchExtn:docRoot="true" name="ZCncFormPrintRequestResponse">
            <xsd:complexType>
               <xsd:sequence>
                  <xsd:element name="EtReturn" type="tns:Bapireturn1Tabtype"/>
                  <xsd:element name="EvSuccess" type="n0:char1"/>
               </xsd:sequence>
            </xsd:complexType>
         </xsd:element>
         
         <!-- Adding element from ZECC_FORM_GET_PRINTER -->
         <xsd:complexType name="ZcncPrinters">
            <xsd:sequence>
               <xsd:element name="OutputDevice" type="n0:char4"/>
               <xsd:element name="Organisation" type="n0:char4"/>
               <xsd:element name="Site" type="n0:char4"/>
               <xsd:element name="PrintZone" type="n0:char2"/>
               <xsd:element name="ZoneDescription" type="n0:char40"/>
               <xsd:element name="DefaultDevice" type="n0:char1"/>
            </xsd:sequence>
         </xsd:complexType>
         <xsd:complexType name="ZcncPrintersT">
            <xsd:sequence>
               <xsd:element maxOccurs="unbounded" minOccurs="0" name="item" type="tns:ZcncPrinters"/>
            </xsd:sequence>
         </xsd:complexType>
         <xsd:element ibmSchExtn:docRoot="true" name="ZCncFormGetPrinters">
            <xsd:complexType>
               <xsd:sequence>
                  <xsd:element minOccurs="0" name="IvPrintZone" type="n0:char2"/>
                  <xsd:element name="IvSite" type="n0:char4"/>
               </xsd:sequence>
            </xsd:complexType>
         </xsd:element>
         <xsd:element ibmSchExtn:docRoot="true" name="ZCncFormGetPrintersResponse">
            <xsd:complexType>
               <xsd:sequence>
                  <xsd:element name="EtPrinters" type="tns:ZcncPrintersT"/>
                  <xsd:element name="EvSuccess" type="n0:char1"/>
               </xsd:sequence>
            </xsd:complexType>
         </xsd:element>
         
      </xsd:schema>