CanonicalsAndSchemas/SAPLibraries/SAPBin_ZECC_LMS_LAYMODS_TO_BINS/ZECC_LMS_LAYMODS_TO_BINS_InlineSchema2.xsd

<?xml version="1.0" encoding="UTF-8"?><xsd:schema attributeFormDefault="qualified" targetNamespace="urn:sap-com:document:sap:soap:functions:mc-style" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:ibmSchExtn="http://www.ibm.com/schema/extensions" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:n0="urn:sap-com:document:sap:rfc:functions" xmlns:n1="urn:sap-com:document:sap:rfc:functions" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="urn:sap-com:document:sap:soap:functions:mc-style" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsoap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <!-- 
  <xsd:import namespace="urn:sap-com:document:sap:rfc:functions" schemaLocation="ZECC_LMS_LAYMODS_TO_BINS_InlineSchema1.xsd"/>
  <xsd:complexType name="ZsofSLmsLaymodBinUpd">
    <xsd:sequence>
      <xsd:element name="Werks" type="n0:char4"/>
      <xsd:element name="Lgnum" type="n0:char3"/>
      <xsd:element name="Lgtyp" type="n0:char3"/>
      <xsd:element name="Lgpla" type="n0:char10"/>
      <xsd:element name="Laygr" type="n0:char10"/>
      <xsd:element name="LaymodVer" type="n0:numeric4"/>
      <xsd:element name="Shelf" type="n0:numeric10"/>
      <xsd:element name="Updkz" type="n0:char1"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ZsofSLmsLaymodBinAssgn">
    <xsd:sequence>
      <xsd:element name="Werks" type="n0:char4"/>
      <xsd:element name="Lgnum" type="n0:char3"/>
      <xsd:element name="Lgtyp" type="n0:char3"/>
      <xsd:element name="Lgpla" type="n0:char10"/>
      <xsd:element name="Laygr" type="n0:char10"/>
      <xsd:element name="LaymodVer" type="n0:numeric4"/>
      <xsd:element name="Shelf" type="n0:numeric10"/>
      <xsd:element name="LastModified" type="n0:decimal15.0"/>
      <xsd:element name="LastModifiedBy" type="n0:char12"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Bapiret2">
    <xsd:sequence>
      <xsd:element name="Type" type="n0:char1"/>
      <xsd:element name="Id" type="n0:char20"/>
      <xsd:element name="Number" type="n0:numeric3"/>
      <xsd:element name="Message" type="n0:char220"/>
      <xsd:element name="LogNo" type="n0:char20"/>
      <xsd:element name="LogMsgNo" type="n0:numeric6"/>
      <xsd:element name="MessageV1" type="n0:char50"/>
      <xsd:element name="MessageV2" type="n0:char50"/>
      <xsd:element name="MessageV3" type="n0:char50"/>
      <xsd:element name="MessageV4" type="n0:char50"/>
      <xsd:element name="Parameter" type="n0:char32"/>
      <xsd:element name="Row" type="xsd:int"/>
      <xsd:element name="Field" type="n0:char30"/>
      <xsd:element name="System" type="n0:char10"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ZsofTtLmsLaymodBinUpd">
    <xsd:sequence>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="item" type="tns:ZsofSLmsLaymodBinUpd"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ZsofTtLmsLaymodBinAssgn">
    <xsd:sequence>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="item" type="tns:ZsofSLmsLaymodBinAssgn"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Bapiret2T">
    <xsd:sequence>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="item" type="tns:Bapiret2"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element ibmSchExtn:docRoot="true" name="ZSofLaymodsToBins">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="ItLaymodBin" type="tns:ZsofTtLmsLaymodBinUpd"/>
        <xsd:element minOccurs="0" name="IvValidateBin" type="n0:char1"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element ibmSchExtn:docRoot="true" name="ZSofLaymodsToBinsResponse">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="EtLaymodBin" type="tns:ZsofTtLmsLaymodBinAssgn"/>
        <xsd:element name="EtReturn" type="tns:Bapiret2T"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
   -->
</xsd:schema>