CanonicalsAndSchemas/SAPLibraries/SAPPhysicalInventory_ZECC_SOF_STK_COUNT_QM/ZECC_SOF_STK_COUNT_QM_InlineSchema2.xsd

<?xml version="1.0" encoding="UTF-8"?><xsd:schema attributeFormDefault="qualified" targetNamespace="urn:sap-com:document:sap:soap:functions:mc-style" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:ibmSchExtn="http://www.ibm.com/schema/extensions" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:n0="urn:sap-com:document:sap:rfc:functions" xmlns:n1="urn:sap-com:document:sap:rfc:functions" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="urn:sap-com:document:sap:soap:functions:mc-style" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsoap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
         <xsd:import namespace="urn:sap-com:document:sap:rfc:functions" schemaLocation="ZECC_SOF_STK_COUNT_QM_InlineSchema1.xsd"/>
<!--         
<xsd:complexType name="Bapireturn1">
            <xsd:sequence>
               <xsd:element name="Type" type="n0:char1"/>
               <xsd:element name="Id" type="n0:char20"/>
               <xsd:element name="Number" type="n0:numeric3"/>
               <xsd:element name="Message" type="n0:char220"/>
               <xsd:element name="LogNo" type="n0:char20"/>
               <xsd:element name="LogMsgNo" type="n0:numeric6"/>
               <xsd:element name="MessageV1" type="n0:char50"/>
               <xsd:element name="MessageV2" type="n0:char50"/>
               <xsd:element name="MessageV3" type="n0:char50"/>
               <xsd:element name="MessageV4" type="n0:char50"/>
            </xsd:sequence>
         </xsd:complexType>
         <xsd:complexType name="Bapireturn1Tabtype">
            <xsd:sequence>
               <xsd:element maxOccurs="unbounded" minOccurs="0" name="item" type="tns:Bapireturn1"/>
            </xsd:sequence>
         </xsd:complexType>
         <xsd:element ibmSchExtn:docRoot="true" name="ZSofAdhocStckCntQm">
            <xsd:complexType>
               <xsd:sequence>
                  <xsd:element minOccurs="0" name="IvBinnum" type="n0:char10"/>
                  <xsd:element minOccurs="0" name="IvEan" type="n0:char18"/>
                  <xsd:element minOccurs="0" name="IvQty" type="n0:quantum13.3"/>
                  <xsd:element minOccurs="0" name="IvStore" type="n0:char4"/>
               </xsd:sequence>
            </xsd:complexType>
         </xsd:element>
         <xsd:element ibmSchExtn:docRoot="true" name="ZSofAdhocStckCntQmResponse">
            <xsd:complexType>
               <xsd:sequence>
                  <xsd:element name="EtReturn" type="tns:Bapireturn1Tabtype"/>
                  <xsd:element name="EvMblnr" type="n0:char10"/>
               </xsd:sequence>
            </xsd:complexType>
         </xsd:element>
          -->
      </xsd:schema>